numpy==1.16.4
pdfminer==20140328
pdfminer.six==20181108
Flask==1.1.1
Flask-Cors==3.0.8
Flask-PyMongo==2.3.0
docx2txt==0.8
pycryptodome==3.8.2
pymongo==3.9.0
pyPdf==1.13
requests==2.22.0
spacy==2.1.6

